<footer class="w-full py-6 border-t border-[#ffffff10] text-center text-sm text-[var(--white-icon)]">
  <p class="mb-2">Hecho con Astro, TailwindCSS y desplegado en Vercel</p>
  <p>© 2025 Ernesto Montero. Todos los derechos reservados.</p>
</footer>
